<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

   

    <asp enableParentPaths="true" />

    <defaultDocument>
      <files>
        <clear />
        <add value="inicio.asp" />
        <add value="Default.htm" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
      <directoryBrowse enabled="true" />
    
    <httpErrors errorMode="Detailed" />

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>

  </system.webServer>

  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <customErrors mode="RemoteOnly" />
    <httpRuntime maxRequestLength="10240" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="99999999" maxReceivedMessageSize="99999999" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
